<div class="example-container">
  <h2>To do</h2>

  <div class="example-list"
       cdkDropList
       #todoList="cdkDropList"
       [cdkDropListData]="todoTask"
       [cdkDropListConnectedTo]="[wipList, doneList]"
       (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todoTask" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>In progress</h2>

  <div class="example-list" 
       cdkDropList
       #wipList="cdkDropList"
       [cdkDropListData]="wipTask"
       [cdkDropListConnectedTo]="[todoList, doneList]"
       (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of wipTask" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container" cdkDropList>
  <h2>Done</h2>

  <div class="example-list" 
       cdkDropList
       #doneList="cdkDropList"
       [cdkDropListData]="doneTask"
       [cdkDropListConnectedTo]="[todoList, wipList]"
       (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of doneTask" cdkDrag>{{item}}</div>
  </div>
</div>
